@import url('https://fonts.googleapis.com/css?family=Rajdhani');
body{
  background-color: smokewhite;
  font-family: 'Rajdhani', sans-serif;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.p1{
  padding-top: 150px;
  grid-column-start: 3;

}
.p2{
  grid-column-start: 3;
}

.wrapper{
  grid-column-start: 3;
  color: rgb(153, 173, 173);
}
a{
  text-decoration: none;
}
