@import url("https://fonts.googleapis.com/css?family=Rajdhani|ZCOOL+KuaiLe");
:root {
  --mainColor: #0004ff;
}
html {
  font-size: 3vw;
  height: 95%;
  width: 90%;
  border: 2px solid black;

}
.bgColor {
  color: black;
  font-family: "Rajdhani", sans-serif;
  background-color: smokewhite;
  border: 2px solid black;
  height: 90vh;
  width: 95vw;
  
}

.wrapper {
  margin: 10px;
  transform-origin: left top 0px;
  
  border-bottom: 2px solid black;
}

a {
  color: #000;
}

a:hover {
  text-decoration-style: wavy;
}

.main {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.menu {
  margin: 10px;
  display: flex;

}

li {
  list-style: none;
  margin: 10px;
}

.main span {
  
}



